.review-content {
  margin: auto;
  padding: 30px;
  border-radius: 12px;

  width: 1200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;

  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.review-content .review {
  width: 300px;
  max-height: 200px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  margin-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.review-content .review .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-content .review .info .rating .yellow {
  color: rgb(177, 177, 17);
}

.review-content .review .info .rating .grey {
  color: grey;
}

.review-content .review .genre {
  margin-top: 0px;
}
